
@{
    ViewData["Title"] = "Index";
}


<hr />
<label for="html">Nike Satış Gösterge Barı</label>
<br />
<div class="progress">
   
    <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<label for="html">Adidas Satış Gösterge Barı</label>
<br />
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" aria-label="Info example" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<label for="html">Gezer Terlik Satış Gösterge Barı</label>
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<label for="html">LumberJack Satış Gösterge Barı</label>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" aria-label="Danger example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<hr />
